@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #664AFF;
}
.wrapper{
  max-width: 450px;
  margin: 150px auto;
}
.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input .autocom-box, .search-input .autocom-box2{
  padding: 0;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box p, .autocom-box2 p{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input .autocom-box p, .search-input .autocom-box2 p{
  display: block;
} 
 .autocom-box p:hover, .autocom-box2 p:hover{
  background: #efefef;
}

a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url(./img/banniere.jpg);

}
.bodyElmt{
  background-image: url(./img/element.jpg);
  background-size: cover;

}
nav{
  padding: 3vh;
  display: flex;
  justify-content: space-between;
  height:30vh;
}
.acceuil{
  font-size: large;
}
#recherche{
    width: 20rem;
    height: 2rem;
    padding: 0 1rem; 
    border-radius: 2rem;
    border: none;
  }
.element{
  display: flex;
  justify-content: center;
}
.grimpeur{
  width: 50%;

}
.searchInputWrapper {
  position: relative;
}
.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;

}
.prise{
  width:10vw; 
  border-radius: 10vw;
}
h1{
  font-size: 10vh;
}
.titreIndex{
  display: flex;
  justify-content: center;
  padding: 5vh;
color: wheat;
}